@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$aqua: #53f6c7;
$dark-blue: #1d1b24;
$just-white: #fff;
$grey: #2a2830;
$ligth-grey: #d8d5d5;
$text-grey: #9d9d9d;
$soft-grey: #eaeaea;

// media query
@mixin response-to($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
%titles {
    font-size: 17vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: $grey;
    @include response-to (640px) {
        font-size: 11em;
        justify-content: flex-end;
        padding-right: 60px;
    }
}