@import '../../assets/styles/roots';

.about {
    display: flex;
    flex-direction: column;
    &-title {
        @extend %titles;
    }
    &-me {
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 5px;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        background-color: $grey;
        width: 100%;
        padding: 20px 0;
        @include response-to(690px) {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        & h4 {
            text-align: center;
            font-size: 2em;
            & b {
                font-size: 5rem;
                color: $aqua;
            }
        }  
    }
    &-frameworks {
        &-title {
            @extend %secundary-title
        }
        &-list {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            list-style: none;
            margin: 15px auto;
            width: 90%;
            height: auto;
            & li {
                transition: 450ms;
            }
            & li:hover {
                transform: scale(1.5);
                ~ & {
                    -webkit-transform: translate3d(50px, 0, 0);
                    transform: translate3d(50px, 0, 0);
                }
            }
            & * {
                width: 20vw;
                height: 80px;
                text-align: center;
                font-size: 1em;
                margin-bottom: 35px;
                @include response-to(520px) {
                    width: 16vw;
                }
            }
        }
        
        
    }
    &-skills {
        &-title {
            @extend %secundary-title;
        }
        &-list {
            display: flex;
            color: $text-grey;
            flex-direction: column;
            list-style: none;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 2em;
            margin-top: 10px;
            @include response-to(670px) {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                & li {
                    width: 48.99%;
                    text-align: center;
                }
            }
        }
    }
    &-certificates {

        background-color: $grey;
        padding: 10px;
        &__title {
            @extend %secundary-title
        }
        &__list {
            display: flex;
            overflow: auto;
            list-style: none;
            gap: 5px;
            margin: 20px 0;
            @include response-to(1300px) {
                overflow: hidden;
            }
            & :last-child div {
                background-image: url('../../assets/images/back.png');
                background-repeat: no-repeat;
                background-size: cover;
                min-width: 260px;
                display: flex;
                & p {
                    margin: auto;
                    text-align: center;
                    font-size: 1.8em;
                    color: $dark-blue;
                    & a {
                        color: $aqua;
                    }
                }
            }
            & li > * {
                min-width: 100px;
                max-width: 280px;
                height: 200px;
            }
        }
    }

}