@import '../../assets/styles/roots';
.config-container{
    position: absolute;
    margin-top: 175px;
    background-color: $dark-blue;
    border-radius: 20px;
    padding: 10px;
    max-width: 450px;
    right: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.config-header{
    padding-bottom: 5px;
    box-shadow: 0px 1px 0px 0px var(--warm-black);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.config-header > h3 {
    font-weight: 600;
    font-size: 1.5em;
}
.config-body{
    padding: 10px;
    padding-top: 20px;
    display: flex;
    gap: 5px;
    & img {
        width: 50%;

    }
}
.config-footer{
    box-shadow: 0px -1px 0px 0px var(--warm-black);
}