@import '../../assets/styles/roots';

.projects{
    &-title {
        @extend %titles
    }
    &-card-container {
        display: flex;
        width: 90%;
        margin: 0 auto;
        height: auto;
        gap: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        @include response-to(768px) {
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
            & > :first-child {
                width: 59%;
                height: 56%;
            }

        }
    }
    &-card {
        height: auto;
        min-width: 89vw;
        max-width: 345px !important;
        & img {
            width: 100%;
            border-radius: 10px;
            height: 100%;
        }
        @include response-to(768px) {
            width: 39%;
            height: 39%;
        }
    }
}