@import '../../assets/styles/roots';
.recomendations {

    &-title {
        @extend %titles;
    }
    &-card_container {
        display: flex;
        overflow: auto;
        gap: 5px;
        padding: 20px 10px;
        @include response-to(960px) {
            overflow: unset;
            justify-content: center;
        }
    }
    &-card {
        border: 5px solid $grey;
        min-width: 304px;
        max-width: 280px;
        height: 263px;
        padding: 10px;
        border-radius: 5px;
        h4 {
            font-size: 1em;
            padding-bottom: 10px;
            b {
                font-size: 4em;
                color: $just-white;
            }
        }

    }
}
